.list.card_dh {
    width: 100%;
    margin-bottom: 100px;
}

.search_RVT .title_TT {
    color: black !important;
    margin: 0 5px;
}

.card_dh .card {
    height: 420px;
    width: 100%;
}

.card_dh .card img {
    height: 200px;
}

.title-sanpham {
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

.menumonan .row:hover {
    background-color: #ffffff !important;
}