.form-tracuu {
    border-radius: 5px;
    padding: 10px;
    border: thin solid rgba(228, 228, 228, 1);
    box-shadow: 3px 3px 3px #ccc;
    background: rgba(255, 255, 255, 1);
}

.label-form {
    color: rgba(0, 0, 0, 1);
    text-align: center;
    height: 50px;
    align-items: center;
    font-size: 20px;
}

hr {
    margin-top: 18px;
    margin-bottom: 18px;
    border: 0;
    border-top: 1px solid #eee;
}

.data-tracuu {
    border: thin solid #f0f0f0;
    border-radius: 3px;
    list-style: none;
    min-height: 206px;
    margin-bottom: 15px;
    box-shadow: 3px 3px 4px 0 #9a9a9a;
    padding-bottom: 10px !important;
}