    html,
    body {
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100vw;
        box-sizing: border-box;
        font-family: 'Times New Roman', Times, serif;
    }
    
    * {
        margin: 0;
        padding: 0;
        font-family: 'Times New Roman', Times, serif;
    }
    
    .chia {
        min-height: 100vh;
        width: 100%;
        position: relative;
    }
    
    .tong {
        min-height: 100vh;
        width: 100%;
        position: relative;
    }

    .isLoading{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    iframe{
        display: block;
    }