.hr {
    width: 100%;
    height: 2px;
    background-color: black;
    margin-top: 10px;
}

.main-header {
    font-size: 18px;
    font-weight: bold;
}

.main-form form {
    width: 100%;
}

.main-form form input {
    width: 100%;
    font-size: 16px;
    margin: 10px 0;
    height: 40px;
    padding: 0 10px;
}

.dathang img{
    height: 224.66px;
    width: 224.66px;
    object-fit: contain;
}

.thanhtoan{
    cursor: pointer;
}